body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Menlo, Consolas, monospace;
    font-size: 12px;
    color: #333;
}

h1 {
    margin: 0 0 20px 0;
    padding: 20px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px dotted #999;
}


.item {
    border: 1px solid #ccc;
    float: left;
    margin: 0 0 20px 20px;
    max-width: 320px;
    position: relative;
}

.item {
    color: #888;
}

.item img {
    display: block;
}

.item h2, .item p {
    opacity: 0;
    position: absolute;
    padding: 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, .75);
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.item h2 {
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: normal;
}

.item p {
    bottom: 0;
    right: 0;
}

.item:hover h2, .item:hover p {
    opacity: 1;
}

#footer {
    text-align: center;
    padding: 20px;
    border-top: 1px dotted #ccc;
    color: #999;
}


#spinner {
    margin: 20px auto;
    text-align: center;
    color: #999;
    animation: pulse .5s alternate infinite;
    -webkit-animation: pulse 1s alternate infinite;
}
@keyframes pulse {
    from {opacity:1}
    to {opacity:.5}
}
@-webkit-keyframes pulse {
    from {opacity:1}
    to {opacity:.5}
}
