* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Menlo, Consolas, monospace;
    font-size: 12px;
    color: #333;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.item {
    position: relative;
    clear: both;
    overflow: hidden;
}
.item .color {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    display: block;
}

.item h2 {
    /*opacity: 0;*/
    padding: 10px;
    margin: 0;
    background-color: rgba(255, 255, 255, .75);
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
    z-index: 100;
    font-size: 16px;
    font-weight: normal;
}

.item:hover h2 {
    opacity: 1;
}

#footer {
    text-align: center;
    padding: 20px;
    color: #999;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}


#spinner {
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #999;
    animation: pulse .5s alternate infinite;
    -webkit-animation: pulse 1s alternate infinite;
}
@keyframes pulse {
    from {opacity:1}
    to {opacity:.5}
}
@-webkit-keyframes pulse {
    from {opacity:1}
    to {opacity:.5}
}
